  <footer class="is-text-center">
    <p><a href="/index#top">🔝 Back to top</a> • <a href="https://localhost:3000">🐛 Report an issue</a> • <a href="https://paypal.me/jgog/10" target="_blank">🎗 Donate</a></p>
    <p>Want icons for your project too? Checkout <a href="https://icongr.am/" target="_blank">Icongr.am 🚀</a></p>
    <h5>Made by <a href="https://jgog.in/" target="_blank">Jenil Gogari</a></h5>
  </footer>
</div>
  <!-- <script async="" src="/assets/analytics.js"></script> -->
  <script>
    if (
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
      document.body.classList.add("dark");
      document.querySelector('#theme-switch').innerHTML = "🌙"
    }

    function switchMode(el) {
      const bodyClass = document.body.classList;
      bodyClass.contains("dark")
        ? ((el.innerHTML = "☀️"), bodyClass.remove("dark"))
        : ((el.innerHTML = "🌙"), bodyClass.add("dark"));
    }
  </script>
</body>
</html>