<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/chota.min.css">
  <link rel="stylesheet" href="/assets/doc-styles.css">
  <link rel="icon" type="image/png" href="https://jenil.github.io/chota/favicon.png">
</head>

<body id="top">
  <div class="container">
    <nav class="nav">
     <a class="brand" href="/">CRUD</a>
      <a class="brand">
        <img src="/assets/search.svg" alt="">
      </a>
      <div class="nav-right">
        <a  href="/index">Index</a>
        <a  href="/about">About</a>
      </div>
    </nav>
